@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,600;0,900;1,100;1,200;1,300;1,500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}header{
    background-color:#f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    padding: 10px 200px;
    align-items: center;
}.logo{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight: 700;
    color: #3a6cf4;
}.navigation a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.1em;
    color: #3a6cf4;
    font-weight:500;
    padding-left: 30px;
}.navigation a:hover{
    color:#601cfc ;
}section{
    padding: 100px 200px;
}.main{
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: black;

}.main h2{
    color: #fff;
    font-weight: 500;
    font-size: 1.4em;

}.main h2 span{
    color: #4e9eff;
    font-size:2.5em;
    font-weight:600;
    display: inline-block;
    margin-top:10px;
}.main h3{
    color: #fff;
    letter-spacing: 1px;
    font-size: 2em;
    font-weight: 700;
    margin-top:10px;
    margin-bottom: 30px;
}.main-btn{
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    display: inline-block;
    background-color:#3a6cf4;
    padding: 0.937em 2.187em;
    font-size: 1.1em;
    border-radius: 15px;
    margin-bottom: 40px;
    font-weight:600;
    color: #fff;
    transition: 0.7s ease;
}.main-btn:hover{
    transform: scale(1.1);
    background-color: #0a49f6;

}.social-icons a{
    color: #fff;
    font-size: 1.5em;
    padding-right:30px;

}.social-icons a:hover{
  color: #0a49f6;

}.title{
    display: flex;
    justify-content: center;
    color: #3a6cf4;
    font-size: 2.2em;
    font-weight: 700;
    margin-bottom: 30px;
}.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

}
.card{
background-color: #fff;
/*width: 21.25em;*/
width: 18.25em;
box-shadow: 0 5px 25px rgba(1, 1, 1, 15%);
border-radius: 10px;
padding: 25px;
margin: 10px;
transition: 0.7s ease;

}.card:hover{
    transform: scale(1.1);

}.icon{
    color: #3a6cf4;
    font-size: 8em;
    text-align: center;
    
}.info{
    text-align:center;
    text-transform: capitalize;
}
.info h3{
    color: #3a6cf4;
    font-size: 1.2em;
    font-weight:700;
    margin: 10px;
}.info p{
    text-align: center;
    text-transform: capitalize;
}.projects{
    background-color: #000016;
}.projects .content{
    margin-top: 30px;

}.project-card{
    background-color: #fff;
    border:1px solid #fff ;
    transition: 0.7s ease;
    min-height: 14em;
    width: 17em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;

}.project-card:hover{
    transform: scale(1.1);
}.project-img img{
 width: 100%;
}.project-card:hover .project-img{
    opacity: 0.9;
}.project-info{
    padding: 1em;

}.project-category{
    font-size: 0.8em;
    color: #000;

}.project-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}.more-details{
    text-decoration: none;
    color: #3a6cf4;
}.more-details:hover{
    color: #601cfc;
}.contact .icon{
    font-size: 4.5em;
}.contact .info h3{
    color: #000;
}.contact .icon p{
    font-size: 1.5em;
}footer{
    background-color:#000016;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}.footer-title{
    font-size: 1.3em;
    font-weight: 600;
}.footer-title span
{color: #3a6cf4;}
footer .social-icons a{
font-size: 1.3em;
padding: 0 12px 0 0;
}  
@media (max-width:1023px){
    header{
  padding: 12px 20px;
}
.navigation a{
    padding-left: 10px;
}.title{
    font-size: 1.8em;
}section{
    padding: 80px 20px;
}.main-content h2{
    font-size: 1em;
}.main-content h3{
    font-size: 1.6em;
}.content{
    flex-direction: column;
    align-items: center;
}
}@media (max-width:641px){
    body{
        font-size: 12px;
    }
    .main-content h2{
        font-size: 0.8em;
    }.main-content h3{
        font-size: 1.4em;
    }
}@media (max-width:300px){
    body{
      font-size: 10px;
    }
    footer{
        flex-direction: column;
        align-items: center;
        padding:20px;
       
    }.footer-title{
        margin-bottom: 15px;
    }
}@media (max-width:1075px){
    .content{
        flex-direction: row;
     justify-content: center;
    }#services .card{
        width: 12em;
        padding: 9px;
    }#services .card .icon{
        font-size: 88px;
    }  header{
        padding: 20px 50px;
      }
      .navigation a{
          padding-left: 50px;
          font-size: 25px;
          font-weight: 900;
      }.title{
          font-size: 2.8em;   
      }.main-content h2{
          font-size: 3em;
      }.main-content h3{
          font-size:10em;}
          
      }
